/*
*/
params {
    gvcf_only = false
    keep_workdir = false
    container = 'rpd-sg10k-grch38-gatk4gvcf-b27ec33.simg'
    nf_required_version = '0.29' // Minimum version of nextflow required
    help = false // awkward here, so how?
    mail_to = 'rpd@gis.a-star.edu.sg'
    publishdir = 'results'
    tracedir = "${params.publishdir}/pipeline_info"
}

process.shell = ['/bin/bash', '-euo', 'pipefail']

// clean up workdir. overwrroten by params.keep_workdir
// see https://github.com/nextflow-io/nextflow/issues/649
cleanup = true

env {
  NXF_OPTS="-Xms1g -Xmx4g"
}

timeline {
    enabled = true
    file = "${params.tracedir}/timeline.html"
}
report {
    enabled = true
    file = "${params.tracedir}/report.html"
}
trace {
    enabled = true
    file = "${params.tracedir}/trace.txt"
}
dag {
    enabled = true
    file = "${params.tracedir}/dag.svg"
}

profiles {
    local {
    	includeConfig 'conf/base.config'
    	includeConfig 'conf/local.config'
    }
    awsbatch {
    	includeConfig 'conf/base.config'
        includeConfig 'conf/awsbatch.config'
    }
    nscc {
    	includeConfig 'conf/base.config'
        includeConfig 'conf/nscc.config'
    }
    lmn {
    	includeConfig 'conf/base.config'
        includeConfig 'conf/lmn.config'
    }
}

