/*
 *  Nextflow config file for aws batch profile
*/


mail {
    from = 'rpd@gis.a-star.edu.sg'
    smtp {
        auth = true
        host = 'email-smtp.us-east-1.amazonaws.com'
        password = ''
        port = 587
        starttls.enable = true
        starttls.required = true
        user = ''
    }
}

docker.enabled = true

process {
    executor = 'awsbatch'
    queue = 'sg10k-on-demand'
    container = '046503905558.dkr.ecr.ap-southeast-1.amazonaws.com/sg10k-on-demand:latest'
}

trace {
    enabled = true
    fields = 'name,duration,realtime,peak_rss,read_bytes,write_bytes'
    file = ''
}


