/* -------------------------------------------------
 *  Base Nextflow config file
 * -------------------------------------------------
 * This file contains basic process requirement setup. It DOES NOT
 * contain any config for cluster, so will run in default mode by
 * itself.
 */
mail {
    smtp.host = 'localhost'
}


process {

    errorStrategy = 'finish'
    
    $trimadap_map {
        memory = '24 GB'
        cpus = 12
        time = '8 h'
    }
    $merge_bams {
        time = '4 h'
        cpus = 4
        memory = '4 GB'
    }
    $mark_duplicates {
        time = '10 h'
        cpus = 1
        memory = '10 GB'
    }
    $gatk_recalibrate_info {
        time = '6 h'
        cpus = 2
        memory = '24 GB'
    }
    $gatk_recalibrate_bam {
        time = '6 h'
        cpus = 2
        memory = '24 GB'
    }
    $indexcov {
        time = '4 h'
        cpus = 1
        memory = '4 GB'
    }
    $sample_qc {
        time = '4 h'
        cpus = 1
        memory = '1 GB'
    }
    $verifybamid {
        time = '4 h'
        cpus = 1
        memory = '4 GB'
    }
    $bam2cram {
        time = '3 h'
        cpus = 4
        memory = '4 GB'
    }
    $gatk_hc {
        time = '4 h'
        cpus = 2
        memory = '16 GB'
    }
    $gvcf_merge {
        time = '2 h'
        cpus = 4
        memory = '4 GB'
    }
    $freebayes {
        time = '8 h'
        cpus = 16
        memory = '10 GB'
    }    
}
