/*
 *  Nextflow config file for NSCC profile
 */


mail {
  smtp.host = 'localhost'
  smtp.user = 'NSCC'
}


executor {
   name = 'local'
   queueSize = 10
}


singularity {
    enabled = true
    cacheDir = '/data/users/astar/gis/rpd/containers/'
}

// cannot move this into process because params.container gets access as process.params.container
// despite https://github.com/nextflow-io/nextflow/issues/733
process.container = singularity.cacheDir + '/' + params.container

process {   
    module = 'singularity/2.5.1'
    maxRetries = 2
    errorStrategy = { task.attempt < 2 ? 'retry' : 'finish' }
}

